@media print {
    table
    {
        border-collapse:collapse;
        margin:8px 0;
    }

    table,th, td
    {
        border: 1px solid #666;
    }
    table,tr{
        height: 25px;
    }
    body {
        width: 100%;
        margin: 0px auto;
        font-size: 10pt;
    }
    .bold {
        font-weight: bold;
    }
    .printCont {
        padding: 5px;
        .areaHead {
            // border: 1px solid #666;
            font-size:12pt;
            line-height: 40px;
            padding: 0 3px;
            text-align: center;
        }
        .areaCont {
            border: 1px solid #666;
            border-top: 0;
            line-height: 16px;
            padding: 10px 3px;
            width: 100%;
            td.table-title{
                width:95px;
            }
            td.table-left{
                width: 207px;
            }
            
        }
        .baseInfo {
            display: flex;
            justify-content:flex-start;
            div {
                flex: 1;
            }
            div.assignName {
                flex: 0 0 70px;
            }
            div.flowName {
                flex: 0 1 65px;
            }
            div.endTime {
                flex: 0 1 140px;
            }
        }
        .commit {
            margin:2px;
            font-size: 8pt;
        }
        
    }
}
